{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }} - Home

{% endblock %}

{% block content %}
<h1>Awesome Details</h1>
<p>The details you will find here are awesome, especially the email in the footer.</p>
{% endblock %}