{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }} - Home

{% endblock %}

{% block content %}
<h1>Welcome to the Awesome Website</h1>
<p>This website really is awesome, don't you think ?</br>Feedback us about how awesome you think this website by writing us an email.</br>You can find the contact email in our awesome footer.</p>
{% endblock %}

{# <!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <h1>Hello {{ name }} !</h1>
</body>
</html> #}